*.n
*.php
config.xml
www/plugin/*
Makefile*
tmp/*
*node_modules*
*.map
*.haxelib*
html
.temp
*.tar

*.DS_Store*

backend/lang

lang/fr/tpl/*
lang/en/tpl/*
lang/de/tpl/*
lang/es/tpl/*
lang/ca/tpl/*
lang/fr/tmp/*.n
lang/en/tmp/*.n
lang/de/tmp/*.n
lang/es/tmp/*.n
lang/ca/tmp/*.n

www/lang/*.mo
www/file/*
www/js/*
www/css/.sass-cache
www/css/*.css
!www/js/libs.dev.js
!www/js/libs.prod.js
!www/js/fetch.umd.js
!www/js/browser-detect.js

devLibs/

www/theme/default/*.plugin

codes.sh

*.scss~
*.un~

data/productTaxonomy.json
src/db/TxpCategory.hx
src/db/TxpProduct.hx
src/db/TxpSubCategory.hx